.requiredSpan {
    padding-left: 0.25rem;
    color: red;
}
.loginFormField input {
    text-indent: 0.25rem;
    padding: 1rem 0.5rem ;
    background-color: #d9d9d9;
    outline: none;
    border-radius: 0.25rem;
}
.loginFormField label {
    color: black;
}
.noSpinner::-webkit-outer-spin-button,
.noSpinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}