.checkBox {
    border: 1px solid black;
    border-radius: 0.25rem;
    background-color: #fff;
}
.checkBox[data-checked]{
    background-color: black;
}
.checkBox[data-checked] svg{
    opacity: 100%;
}
.checkMark {
    stroke: #fff;
    opacity: 0%;
}