.loginFormField {
    position: relative;
}
.loginFormField input {
    text-indent: 0.25rem;
    padding: 1rem 0.5rem ;
    background-color: #d9d9d9;
    outline: none;
    border-radius: 0.25rem;
}
.loginFormField label {
    position: absolute;
    top: 1rem;
    left: 0.75rem;
    transition: all 0.5 ease-out;
    pointer-events: none;
    opacity: 0.5;
    color: black;
}
.loginFormField input:focus + label,
.loginFormField input:not(:placeholder-shown) +label {
    position: absolute;
    top: 0.125rem;
    left: 0.75rem;
    font-size: 0.75rem;
}
.loginForm button[type=button] {
    position: absolute;
    top: 1.25rem;
    right: 0.75rem;
}
.loginForm button[type=submit] {
    padding: 0.75rem 0.25rem;
    background-color: black;
    color: white;
    border-radius: 0.25rem;
    outline: none;
}
.errorSpan {
    color: red;
    font-size: 0.75rem;
}
