.app-container {
    display: flex;
    height: 100vh;
    font-family: sans-serif;
  }
  
  .sidebar {
    width: 350px;
    height: 100vh;
    background-color: #39D2D7; /* 파란색 */
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .sidebar-header {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  
  .sidebar-menu a {
    color: white;
    text-decoration: none;
    margin-bottom: 1rem;
    display: block;
    padding: 8px 12px;
    border-radius: 6px;
  }
  
  #Dashboard_Link_Var:hover,
  .sidebar-menu a:hover {
    background-color: #ffffff;
    color: #000000; /* hover 효과 */
  }
  
  .main-content {  flex: 1;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 20px;
  }
  
  .h1-box {
    width: 100vw;
    padding: 10px;
    border-bottom: 1px solid #cdcdcd;
  }

  .title-style {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .b-title {
    margin: 10px;
    font-size: 1.2rem;
    font-weight: 500;
  }
.table-ih {
  margin: auto;
  width: 800px;
  border-collapse: collapse;
  margin-top: 20px;
}

.table-style-ih {
  border: 1px solid #ccc;
  padding: 8px 12px;
  text-align: center;
}

.shop-input {
  text-align: center;
}

.plus-b {
  font-size: 1.5rem;
  border-radius: 10px;
}

.plus-b:hover {
  color: #39D2D7;
}

.delete_b {
  background-color: #FF7474;
  color: white;
  padding: 5px;
  border-radius: 5px;
}


.Separation {
  border: .1rem solid #e6e6e6;
  width: 800px;
  margin: auto;
}